<form action="/new_bookmark" method="post">
  <div>
    <label for="bookmark">url</label>
    <input type="text" id="bookmark" name="bookmark"/>
  </div>
  <label for="title">title</label>
  <input type="text" id="title" name="title"/>
  <button type="submit" value="add">Add</button>
  <input type="submit" formaction="/delete" value="Delete" >
</form>

<% @bookmark.each do |bookmark|%>
<li><a href= "<%=bookmark.url %>"> <%=bookmark.title%></a></li>
 <% end%>
